@import "tailwindcss";

@theme {
  --color-obsidian: #050505;
  --color-indigo-glow: #4F46E5;
  --color-silver: #E2E8F0;

  @keyframes magnetic-float {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-5px);
    }
  }
}

/* Base styles */
@layer base {

  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    overflow: hidden;
  }

  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

  body {
    background-color: #f5f5f5;
    /* Light mode default */
    color: #171717;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    cursor: none;
    /* Hide default cursor generally */
  }

  /* Restore default cursor for interactive elements */
  a,
  button,
  input,
  textarea,
  select,
  [role="button"],
  .cursor-pointer {
    cursor: pointer;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: #0a0a0a;
  }

  ::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

/* Utilities */
@layer utilities {
  .text-glow {
    text-shadow: 0 0 20px rgba(79, 70, 229, 0.5);
  }
}